@model IEnumerable<Degrey.Models.Product>

@{  
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ManageLayout.cshtml";
    <link href="~/Content/sanpham.css" rel="stylesheet" />
    <link href="~/Content/mng-products.css" rel="stylesheet" />
}
<div class="container" style="max-width: 100%;">







    <p class="title">
        <span style=" font-family: sans-serif; font-weight: normal; font-size: 30px;">Products <small class="count">@Model.Count()</small></span>


        @Html.ActionLink("+ Thêm một Sản Phẩm", "Create", null, new { @class = "btn btn-primary custom-btn" })

    </p>
    <div class="sortbyfilter" style="width: 275px; margin: 10px 0px">
        <div class="dropdown" id="productDropdown">
            <i class="fa fa-sort-alpha-asc icon-az"></i>
            <span style="font-weight: 600;"> Sắp xếp theo Category</span>
            <span class="triangle" style="left: 245px;"></span>
            <div class="dropdown-content" style=" width: 275px;">
                
                <div class="divider"></div>
                <a href="/Products/Index">Tất cả sản phẩm</a>
                <a href="#" onclick="applyCategoryFilter('QuanAo')">Quần Áo</a>
                <a href="#" onclick="applyCategoryFilter('PhuKien')">Phụ Kiện</a>
                <!-- Add other categories as needed -->
            </div>
        </div>
    </div>


    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PriceSale)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Discount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category.NameCate)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Gallery.ProImage)
            </th>*@
            <th>Action</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProImage)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PriceSale)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Discount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.NameCate)
                </td>
                <!-- Add your Gallery.ProImage display here if needed -->
                <td style="display: flex; text-align: center;" >
                    <a href="@Url.Action("Edit", new { id = item.ProID })" class="btn btn-success btn-square btn-style">
                        <i class="fa-solid fa-pen icon-style"></i>
                    </a>

                    <a href="@Url.Action("Details", new { id = item.ProID })" class="btn btn-success btn-square" style="margin-left: 5px;">
                        <i class="fa-solid fa-magnifying-glass icon-style"></i>
                    </a>

                    <a href="@Url.Action("Delete", new { id = item.ProID })" class="btn btn-success btn-square" style="margin-left: 5px;">
                        <i class="fa-solid fa-trash-can icon-style"></i>
                    </a>
                </td>
            </tr>
        }


    </table>
</div>
<script>
    function applyCategoryFilter(category) {
        var selectedCategory = category;
        var url = '/Products/Index';

        if (selectedCategory) {
            url += '?category=' + selectedCategory;
        }

        window.location.href = url;
    }

    function applySort(order) {
        // Implement your sorting logic here
        // You can update the URL or perform AJAX to get sorted data
    }
</script>



