
@{
    ViewBag.Title = "ThongTinSanPham";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    <link href="~/Content/sanpham.css" rel="stylesheet" />
    <link href="~/Content/product-info.css" rel="stylesheet" />
}


@*<h2>ThongTinSanPham</h2>
    Sản phẩm có ID là: @ViewBag.ProductID
    @ViewBag.ProductName*@
<div class="breadcrumb-all">
    <div class="container" style="height:100%">
        <div class="wrap-breadcrumb">
            <ol class="breadcrumb-list">
                <li><a href="Home">Trang chủ</a></li>
                <li>Tất cả sản phẩm</li>
                <li style="color: #777777;">@ViewBag.ProductName</li>
            </ol>
        </div>
    </div>
</div>
<section class="productDetail-information productDetail_style__03">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12 productDetail--gallery">
                <div class="image-product" style="width:100px;height:100px">
                    <img src="/Image/@ViewBag.ImageName">
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12 productDetail--content" id="detail-product">
                <div class="product-container-detail">
                    <div class="product-container-order">
                        <div class="product-variants">
                            <form id="add-item-form" action="/cart/add" method="post" class="variants clearfix">
                                <div class="select clearfix" style="display:none">
                                    <select id="product-select" name="id" style="display:none;">

                                        <option value="1114453193">Default Title - 480,000₫</option>

                                    </select>
                                </div>
                                <div class="select-swatch clearfix">

                                </div>
                                <div class="select-actions hidden-xs hidden-sm clearfix">
                                    <div class="quantity-area clearfix">
                                        <input type="button" value="-" onclick="minusQuantity()" class="qty-btn">
                                        <input type="text" id="quantity" name="quantity" value="1" min="1" style="width:60px" class="quantity-input">
                                        <input type="button" value="+" onclick="plusQuantity()" class="qty-btn">
                                        <button type="button" id="add-to-cart" class=" add-to-cartProduct button btn-dark btn-addtocart addtocart-modal " name="add">
                                            Thêm vào giỏ
                                        </button>
                                    </div>

                                    <div class="addcart-area">
                                        
                                        <button type="button" id="buy-now" hidden class="disabled add-to-cartProduct button dark btn-addtocart addtocart-modal hidden " name="add">
                                            Mua ngay
                                        </button>
                                    </div>
                                </div>

                            </form>
                        </div>
                        <div class="product-heading">
                            <h1>@ViewBag.ProductName</h1>
                            @*<ul class="product-meta hidden-lg hidden-md hidden-sm hidden-xs">

                                    <li class="pro-sku">Mã sản phẩm: <span>BCN</span></li>

                                    <li class="pro-vendor">
                                        Thương hiệu:
                                        <a href="/collections/vendors?q=degrey">DEGREY</a>
                                    </li>

                                </ul>*@
                        </div>
                        <div class="product-price">

                            <del>@String.Format("{0:N0}", ViewBag.Price) ₫</del>

                            <span class="pro-price">@String.Format("{0:N0}", ViewBag.PriceRetail) ₫</span>

                            <span class="pro-percent">@ViewBag.Discount % giảm</span>
                        </div>
                    </div>
                    <div class="product-available">
                        <p class="txt-inventory">






                        </p>
                    </div>
                    <div class="combo-info d-none">
                        <h3 class="combo-info--title">THƯỜNG ĐƯỢC MUA CÙNG</h3>
                    </div>
                    <div class="product-coutdown product-coutdown-jsdata">

                    </div>
                    <div class="product-policy-detail">
                        <div class="item-policy-detail">
                            Freeship đơn hàng giá trị trên 1 triệu đồng
                        </div>
                        <div class="item-policy-detail">
                            Đổi hàng chưa qua sử dụng trong vòng 30 ngày
                        </div>
                    </div>


                    <div class="product-description product-description--accordion">
                        <div class="panel-group opened">
                            <div class="panel-title"><h2>THông tin sản phẩm <i class="fa fa-plus"></i></h2></div>
                            <div class="panel-description " style="display:block">
                                <div class="description-productdetail typeList-style">	<p>- Chất liệu: simili</p><p>- Hoạ tiết:logo dập</p><p>- Size:&nbsp;ngang 30cm, rộng 12cm, cao 41cm&nbsp;</p><p>- Ngăn chống sốc đựng vừa laptop 15inch</p><p>- Thương hiệu: Degrey</p><p>- Sản xuất: Việt Nam</p><p>- Màu sắc và họa tiết được thiết kế riêng bởi team design DEGREY</p><p>&nbsp;</p><p>+ HƯỚNG DẪN BẢO QUẢN SẢN PHẨM DEGREY:</p><p>- Không dùng hóa chất tẩy mạnh lên sản phẩm</p><p>- Không dùng vật dụng sắc, nhọn cà trực tiếp lên bề mặt Balo</p><p>- Không giặt máy</p><p>- Sử dụng bàn chải có lông mềm</p><p>- Tuyệt đối không dùng bàn chải cước cứng sẽ gây ra các vết xước trên nền vải</p><p>&nbsp;</p><p>+ CHÍNH SÁCH ĐỔI SẢN PHẨM:</p><p>1.Điều kiện đổi hàng</p><p>- Bạn lưu ý giữ lại hoá đơn để đổi hàng trong vòng 30 ngày.</p><p>- Đối với mặt hàng giảm giá, phụ kiện cá nhân (áo lót, khẩu trang, vớ ...) không nhận đổi hàng.</p><p>- Tất cả sản phẩm đã mua sẽ không được đổi trả lại bằng tiền mặt.</p><p>- Bạn có thể đổi size hoặc sản phẩm khác trong 30 ngày (Lưu ý: sản phẩm chưa qua sử dụng, còn tag nhãn và hóa đơn mua hàng.)</p><p>- Bạn vui lòng gửi cho chúng mình clip đóng gói và hình ảnh của đơn hàng đổi trả của bạn, nhân viên tư vấn sẽ xác nhận và tiến hành lên đơn đổi trả cho bạn.</p><p>&nbsp;</p><p>2. Trường hợp khiếu nại</p><p>- Bạn phải có video unbox hàng</p><p>- Quay video rõ nét 6 mặt của gói hàng</p><p>- Quay rõ: Tên người nhận, mã đơn, địa chỉ, số điện thoại.</p><p>- Video không cắt ghép, chỉnh sửa</p><p>- Degrey xin không tiếp nhận giải quyết các trường hợp không thỏa các điều kiện trên.</p>	</div>
                            </div>
                        </div>
                        <!-- TAB 1-->
                        <!-- TAB 2-->
                        <!-- TAB 3-->


                        <div class="panel-group">
                            <div class="panel-title">
                                <h2>
                                    Dịch vụ giao hàng

                                    <i class="fa fa-plus"></i>
                                </h2>
                            </div>
                            <div class="panel-description description-content">
                                <div class="product-deliverly">
                                    <ul class="infoList-deliverly">





                                        <li>
                                            <span>
                                                <img class="lazyload" data-src="https://file.hstatic.net/1000397797/file/delivery-ico1_f26631929e1b41dab022d9960006297c.svg" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="Cam kết 100% chính hãng Degrey">
                                            </span>
                                            Cam kết 100% chính hãng Degrey
                                        </li>






                                        <li>
                                            <span>
                                                <img class="lazyload" data-src="https://file.hstatic.net/1000397797/file/delivery-ico2_5ea2de2f279b4dbfa10fcb9b9c448b4d.svg" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="Giao hàng dự kiến:
Thứ 2 - Thứ 7 từ 9h00 - 17h00">
                                            </span>
                                            Giao hàng dự kiến: <br>
                                            <strong>Thứ 2 - Thứ 7 từ 9h00 - 17h00</strong>
                                        </li>






                                        <li>
                                            <span>
                                                <img class="lazyload" data-src="https://file.hstatic.net/1000397797/file/delivery-ico3_dd589d9c49584441a9ef0c2f9300649f.svg" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="Hỗ trợ 24/7
Với các kênh chat, email &amp; phone">
                                            </span>
                                            Hỗ trợ 24/7<br>
                                            Với các kênh chat, email &amp; phone
                                        </li>


                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- TAB 4-->
                </div>
            </div>


        </div>
    </div>
</section>
<script>
    function plusQuantity() {
        var quantity = $('#quantity').val();
        quantity++;
        $('#quantity').val(quantity);
    }
    function minusQuantity() {
        var quantity = $('#quantity').val();
        if (quantity > 1) {
            quantity--;
            $('#quantity').val(quantity);
        }
    }

    function deleteRow(btn) {
        var row = btn.parentNode.parentNode;
        row.parentNode.removeChild(row);
        var total = 0;
        var count = 0;
        // Lặp qua từng hàng trong bảng
        $('#cart-table tbody tr').each(function () {
            debugger
            var Quantity = parseInt($(this).find('td').eq(2).text());
            console.log($(this).find('td').eq(2).text());
            var Price = parseInt($(this).find('td').eq(3).text());
            var productTotal = Quantity * Price;
            total += productTotal;
            count++;
        });
        $('#count_detailorder').text(count);
        // Hiển thị tổng tiền
        $('.total-cart').text(total); // Định dạng tổng tiền với hai số thập phân
    }

    $(function () {
        $('#add-to-cart').on('click', function () {
            debugger
            // Lấy thông tin sản phẩm từ ViewBag
            var productImage = '@ViewBag.ImageName';
            var productName = '@ViewBag.ProductName'; // Lấy tên sản phẩm từ ViewBag
            var productQuantity = $('#quantity').val();
            var productPriceRetail = '@ViewBag.PriceRetail'; 


            // Hiển thị thông số trong modal
            var rowHtml = '<tr><td><img style="width:100px;height:100px" src="/Image/' + productImage + '"/></td>' +
                '<td>' + productName + '</td>' +
                '<td>' + productQuantity + '</td>' +
                '<td>' + productPriceRetail + '</td>' +
                '<td><button class="btn btn-sm btn-danger" style="text-align:center" onclick="deleteRow(this)"><i class="fa fa-trash" aria-hidden="true"></i></button></td></tr >';
            $('.show-cart').append(rowHtml);
            var total = 0;
            var count = 0;
            // Lặp qua từng hàng trong bảng
            $('#cart-table tbody tr').each(function () {                
                debugger                
                var Quantity = parseInt($(this).find('td').eq(2).text()); 
                console.log($(this).find('td').eq(2).text());
                var Price = parseInt($(this).find('td').eq(3).text());                
                var productTotal = Quantity * Price;
                total += productTotal;
                count++;
            });

            $('#count_detailorder').text(count);
            // Hiển thị tổng tiền
            $('.total-cart').text(total); // Định dạng tổng tiền với hai số thập phân

            // Mở modal
            $('#staticBackdrop').modal('show');
        });              
    });
</script>

